.deps/
.libs/
libds1820digitemp.la
libds1820digitemp_la-shp-base1wire.lo
libds1820digitemp_la-shp-ds1820digitemp.lo
libds1820digitemp_la-shp-ds1820digitemp.o
libds1820digitemp_la-shp-base1wire.o
libtelldus.la
libtelldus_la-shp-telldus.lo
libtelldus_la-shp-telldus.o
libtimer.la
libtimer_la-shp-timer.lo
libtimer_la-shp-timer.o
