[program]
PluginDir=/home/pi/project/shp/src/plugins/.libs/

# All devices used by the Web interface are listed here

[web0]
1Wire=1
Radio=0
Plugin=ds1820digitemp
DeviceId=0
Name=(Celsius) Storage room
Id=ds1820digitemp2

[web1]
1Wire=1
Radio=0
Plugin=ds1820digitemp
DeviceId=1
Name=(Celsius) Garage
Id=ds1820digitemp3

[web2]
1Wire=1
Radio=0
Plugin=ds1820digitemp
DeviceId=2
Name=(Celsius) Living room
Id=ds1820digitemp4

[web3]
1Wire=1
Radio=0
Plugin=ds1820digitemp
DeviceId=3
Name=(Celsius) Bed room 1
Id=ds1820digitemp5

[web4]
1Wire=1
Radio=0
Plugin=ds1820digitemp
DeviceId=4
Name=(Celsius) Bed room 2
Id=ds1820digitemp6

[web5]
1Wire=0
Radio=1
Plugin=telldus
DeviceId=1
Name=Lamp Livingroom 1
Id=telldus0

[web6]
1Wire=0
Radio=1
Plugin=telldus
DeviceId=2
Name=Lamp Livingroom 2
Id=telldus0

[web7]
1Wire=0
Radio=1
Plugin=telldus
DeviceId=3
Name=Heater Garage
Id=telldus0

[web8]
1Wire=0
Radio=1
Plugin=telldus
DeviceId=4
Name=Christmas Decoration
Id=telldus0

[web9]
1Wire=1
Radio=0
DeviceId=17
Plugin=grovedust
Name=(AQI) Inside Air Quality
Id=grovedust0

# All action configurations used by the application

[conf0]
Name=Temperature Garage less than 12C
Plugin=ds1820digitemp
id=ds1820digitemp0
config-dir=/home/pi/digitemp/
device-id=1
trigger=12.0
descending=1

[conf1]
Name=Temperature Garage greater than 14C
Plugin=ds1820digitemp
id=ds1820digitemp1
config-dir=/home/pi/digitemp/
device-id=1
trigger=14
descending=0

[conf2]
Name=Lamp Living Room On
Plugin=telldus
id=telldus0
device-id=1
set-on=1

[conf3]
Name=Lamp Living Room Off
Plugin=telldus
id=telldus1
device-id=1
set-on=0

[conf4]
Name=Lamp Living Room 2 On
Plugin=telldus
id=telldus3
device-id=2
set-on=1

[conf5]
Name=Lamp Living Room 2 Off
Plugin=telldus
id=telldus4
device-id=2
set-on=0

[conf6]
Name=All days at 03:00
Plugin=dayschedule
id=dayschedule0
hour=3
minutes=00
monday=1
tuesday=1
wednesday=1
thursday=1
friday=1
saturday=1
sunday=1

[conf7]
Name=All days at 19:00
Plugin=dayschedule
id=dayschedule1
hour=19
minutes=00
monday=1
tuesday=1
wednesday=1
thursday=1
friday=1
saturday=1
sunday=1

[conf8]
Name=Temperature Storage Room every 300s
Plugin=ds1820digitemp
id=ds1820digitemp2
config-dir=/home/pi/digitemp/
device-id=0
interval=300

[conf9]
Name=Temperature Garage every 300s
Plugin=ds1820digitemp
id=ds1820digitemp3
config-dir=/home/pi/digitemp/
device-id=1
interval=300

[conf10]
Name=Temperature Living room every 300s
Plugin=ds1820digitemp
id=ds1820digitemp4
config-dir=/home/pi/digitemp/
device-id=2
interval=300

[conf11]
Name=Temperature Bed room 1 every 300s
Plugin=ds1820digitemp
id=ds1820digitemp5
config-dir=/home/pi/digitemp/
device-id=3
interval=300

[conf12]
Name=Temperature Bed room 2 every 300s
Plugin=ds1820digitemp
id=ds1820digitemp6
config-dir=/home/pi/digitemp/
device-id=4
interval=300

[conf13]
Name=Store readings
Plugin=mysql
id=mysql0
database=SensorReadings
table=SensorReadings
username=root
password=pass

[conf14]
Name=Heater Garage Off
Plugin=telldus
id=telldus5
device-id=3
set-on=0

[conf15]
Name=Heater Garage On
Plugin=telldus
id=telldus6
device-id=3
set-on=1

[conf16]
Name=Inside Air Quality every 300s
Plugin=grovedust
id=grovedust0
pin=17
interval=300

# A set of rules for action configurations

# lamps

[rule0]
If=6
Then=3

[rule1]
If=6
Then=5

[rule2]
If=7
Then=2

[rule3]
If=7
Then=4

# storing temp readings

[rule4]
If=8
Then=13

[rule5]
If=9
Then=13

[rule6]
If=10
Then=13

[rule7]
If=11
Then=13

[rule8]
If=12
Then=13

# heaters

[rule9]
If=1
Then=14

[rule10]
If=0
Then=15

# storing air quality readings

[rule11]
If=16
Then=13
